:root {
  --outline-white: #F9F9F9;
  --outline-gray-1: #D5D5E2;
  --outline-gray-2: #BDBDD1;
  --outline-gray-3: #9F9FBC;
  --outline-gray-4: #8181A7;
  --outline-gray-5: #36364E;
  --outline-blueprint-1: #B9BEFE;
  --outline-blueprint-2: #8D95F6;
  --outline-blueprint-3: #5763FA;
  --outline-blueprint-4: #000FCC;
  --outline-dusk-1: #CAC3FE;
  --outline-dusk-2: #A194F9;
  --outline-dusk-3: #705CFF;
  --outline-dusk-4: #3E25D0;
  --outline-clearing-1: #A9E5D0;
  --outline-clearing-2: #68C2A3;
  --outline-red-1: #FFD8D8;
  --outline-red-2: #FDC2C2;
  --outline-red-3: #F79596;
  --outline-red-4: #E03636;
  --outline-green-1: #B9EECC;
  --outline-green-2: #9BE4B6;
  --outline-amber-1: #FEEDA9;
  --outline-amber-2: #FBCC55;
  --outline-blue-1: #A7D7FD;
  --outline-blue-2: #0289F7;
  --outline-gray-modals: #D5D5E2;
  --outline-orange-1: #F4B07F;
  --surface-white: #F9F9F9;
  --surface-gray-1: #F3F3F7;
  --surface-gray-2: #E8E8EF;
  --surface-gray-3: #D5D5E2;
  --surface-gray-4: #BDBDD1;
  --surface-gray-5: #4B4B6C;
  --surface-gray-6: #36364E;
  --surface-gray-7: #212130;
  --surface-blueprint-1: #EBECFF;
  --surface-blueprint-2: #D6D9FF;
  --surface-blueprint-3: #B9BEFE;
  --surface-blueprint-4: #8D95F6;
  --surface-blueprint-5: #2A37F4;
  --surface-blueprint-6: #0717E4;
  --surface-blueprint-7: #000FCC;
  --surface-blueprint-8: #0310AA;
  --surface-blueprint-9: #050D76;
  --surface-dusk-1: #DBD6FF;
  --surface-dusk-2: #CAC3FE;
  --surface-dusk-3: #A194F9;
  --surface-dusk-4: #705CFF;
  --surface-dusk-5: #533EEA;
  --surface-dusk-6: #3E25D0;
  --surface-clearing-1: #EFFBF7;
  --surface-clearing-2: #DDF8EF;
  --surface-clearing-3: #68C2A3;
  --surface-red-1: #FFE7E7;
  --surface-red-2: #FFD8D8;
  --surface-red-3: #FDC2C2;
  --surface-red-4: #CC2929;
  --surface-red-5: #B52A2A;
  --surface-red-6: #941F1F;
  --surface-green-1: #F2FDF4;
  --surface-green-2: #E4FAEB;
  --surface-green-3: #30A66D;
  --surface-amber-1: #FFF7D3;
  --surface-amber-2: #DB7706;
  --surface-orange-1: #FFEFE4;
  --surface-blue-1: #E6F4FF;
  --surface-blue-2: #0289F7;
  --surface-violet-1: #D6D9FF;
  --surface-cyan-1: #DDF7FF;
  --surface-pink-1: #FDE8F5;
  --surface-modal: #F9F9F9;
  --surface-cards: #F9F9F9;
  --surface-menu-bar: #050D76;
  --surface-selected: #000FCC;
  --ink-white: #F9F9F9;
  --ink-gray-1: #D5D5E2;
  --ink-gray-2: #BDBDD1;
  --ink-gray-3: #9F9FBC;
  --ink-gray-4: #8181A7;
  --ink-gray-5: #60608A;
  --ink-gray-6: #4B4B6C;
  --ink-gray-7: #4B4B6C;
  --ink-gray-8: #36364E;
  --ink-gray-9: #212130;
  --ink-blueprint-1: #EBECFF;
  --ink-blueprint-2: #5763FA;
  --ink-blueprint-3: #2A37F4;
  --ink-blueprint-4: #000FCC;
  --ink-dusk-1: #EDEBFF;
  --ink-dusk-2: #705CFF;
  --ink-dusk-3: #533EEA;
  --ink-dusk-4: #3E25D0;
  --ink-clearing-1: #EFFBF7;
  --ink-clearing-2: #36BF8F;
  --ink-clearing-3: #149064;
  --ink-red-1: #FFF7F7;
  --ink-red-2: #F79596;
  --ink-red-3: #E03636;
  --ink-red-4: #CC2929;
  --ink-green-1: #F2FDF4;
  --ink-green-2: #30A66D;
  --ink-green-3: #16794C;
  --ink-amber-1: #FFF7D3;
  --ink-amber-2: #E79913;
  --ink-amber-3: #DB7706;
  --ink-blue-1: #F2F8FF;
  --ink-blue-2: #0289F7;
  --ink-blue-3: #007BE0;
  --ink-cyan-1: #3BBDE5;
  --ink-pink-1: #E34AA6;
  --ink-violet-1: #2A37F4;
}

[data-theme="dark"] {
  --outline-white: #1C1C1C;
  --outline-gray-1: #232323;
  --outline-gray-2: #343434;
  --outline-gray-3: #424242;
  --outline-gray-4: #808080;
  --outline-gray-5: #D5D5E2;
  --outline-blueprint-1: #000B99;
  --outline-blueprint-2: #000FCC;
  --outline-blueprint-3: #0D1BF2;
  --outline-blueprint-4: #3947F9;
  --outline-dusk-1: #2C18B4;
  --outline-dusk-2: #3E25D0;
  --outline-dusk-3: #533EEA;
  --outline-dusk-4: #705CFF;
  --outline-clearing-1: #23A97A;
  --outline-clearing-2: #4AAF8E;
  --outline-red-1: #621B18;
  --outline-red-2: #4C1818;
  --outline-red-3: #621B18;
  --outline-red-4: #9C2020;
  --outline-green-1: #0B6139;
  --outline-green-2: #0A3F27;
  --outline-amber-1: #824108;
  --outline-amber-2: #824108;
  --outline-blue-1: #155999;
  --outline-blue-2: #155999;
  --outline-gray-modals: #343434;
  --outline-orange-1: #823906;
  --surface-white: #0F0F0F;
  --surface-gray-1: #232323;
  --surface-gray-2: #FFFFFF1A;
  --surface-gray-3: #FFFFFF2E;
  --surface-gray-4: #424242;
  --surface-gray-5: #D4D4D4;
  --surface-gray-6: #AFAFAF;
  --surface-gray-7: #D4D4D4;
  --surface-blueprint-1: #030740;
  --surface-blueprint-2: #020964;
  --surface-blueprint-3: #000B99;
  --surface-blueprint-4: #000FCC;
  --surface-blueprint-5: #3947F9;
  --surface-blueprint-6: #0D1BF2;
  --surface-blueprint-7: #000FCC;
  --surface-blueprint-8: #3947F9;
  --surface-blueprint-9: #707CFF;
  --surface-dusk-1: #15077E;
  --surface-dusk-2: #1F0F95;
  --surface-dusk-3: #2C18B4;
  --surface-dusk-4: #705CFF;
  --surface-dusk-5: #3E25D0;
  --surface-dusk-6: #2C18B4;
  --surface-clearing-1: #038255;
  --surface-clearing-2: #149064;
  --surface-clearing-3: #4AAF8E;
  --surface-red-1: #361515CC;
  --surface-red-2: #4C1818E6;
  --surface-red-3: #621B18;
  --surface-red-4: #E43838;
  --surface-red-5: #9C2020;
  --surface-red-6: #621B18;
  --surface-green-1: #0B2E1C;
  --surface-green-2: #0A3F27;
  --surface-green-3: #1F9D60;
  --surface-amber-1: #371E06;
  --surface-amber-2: #C57411;
  --surface-orange-1: #401F07CC;
  --surface-blue-1: #0E2037;
  --surface-blue-2: #1580D8;
  --surface-violet-1: #030740;
  --surface-cyan-1: #0B252D;
  --surface-pink-1: #471432CC;
  --surface-modal: #232323;
  --surface-cards: #1C1C1C;
  --surface-menu-bar: #030740;
  --surface-selected: #FFFFFF1A;
  --ink-white: #000B99;
  --ink-gray-1: #232323;
  --ink-gray-2: #424242;
  --ink-gray-3: #717171;
  --ink-gray-4: #717171;
  --ink-gray-5: #808080;
  --ink-gray-6: #999999;
  --ink-gray-7: #AFAFAF;
  --ink-gray-8: #D4D4D4;
  --ink-gray-9: #F8F8F8;
  --ink-blueprint-1: #F9F9F9;
  --ink-blueprint-2: #C2C7FF;
  --ink-blueprint-3: #99A2FF;
  --ink-blueprint-4: #C2C7FF;
  --ink-dusk-1: #F9F9F9;
  --ink-dusk-2: #2C18B4;
  --ink-dusk-3: #9A8FFF;
  --ink-dusk-4: #B8AFFF;
  --ink-clearing-1: #F9F9F9;
  --ink-clearing-2: #68C2A3;
  --ink-clearing-3: #96E4CC;
  --ink-red-1: #F9F9F9;
  --ink-red-2: #621B18;
  --ink-red-3: #EB4D52;
  --ink-red-4: #FC7474;
  --ink-green-1: #F9F9F9;
  --ink-green-2: #35AE74;
  --ink-green-3: #78D7A9;
  --ink-amber-1: #F9F9F9;
  --ink-amber-2: #E79913;
  --ink-amber-3: #E79913;
  --ink-blue-1: #F9F9F9;
  --ink-blue-2: #5AAEF2;
  --ink-blue-3: #8CC1EC;
  --ink-cyan-1: #3CB8DC;
  --ink-pink-1: #E359AB;
  --ink-violet-1: #707CFF;
}

/* === Tailwind Directives === */
@tailwind base;
@tailwind components;
@tailwind utilities;
